@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br>
<br>
<br>
<h2>ToListAsync</h2>
<ul>
    @foreach (var item in ViewData["Contacts"] as IEnumerable<Contact>)
    {
        <li>@item.ToString()</li>
    }
</ul>


<br>
<br>
<br>
<h2>EF.Functions.Like</h2>
<ul>
    @foreach (var item in ViewData["ContactsLike"] as IEnumerable<Contact>)
    {
        <li>@item.ToString()</li>
    }
</ul>

<br>
<br>
<br>
<h2>String.Compare</h2>
<ul>
    @foreach (var item in ViewData["contactsCompare"] as IEnumerable<Contact>)
    {
        <li>@item.ToString()</li>
    }
</ul>
